*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif ;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html, body {
    font-size: 62.5%;
}

@media only screen
and (min-width: 768px) {

    html, body {
        font-size: 42.5%;
    }

}

@media only screen
and (min-width : 1224px) {
    html, body {
        font-size: 52.5%;
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2.4rem;
}

.button-transparent {
    margin: 5px;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.2rem;
    height: 56px;
    width: 208px;
    border: 1px solid #2E2E2E;
    border-radius: 10px;
}

.button-transparent:hover {
    background-color: white;
    color: black;
    animation-duration: 1s;
    animation-name: opacity-animation;
    animation-fill-mode: both;
}

.button-colored {
    margin: 5px;
    background-color: #A31717;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 2.2rem;
    height: 56px;
    width: 208px;
    border: none;
    border-radius: 10px;
}

.button-colored:hover {
    background-color: #961919;
    animation-duration: 1s;
    animation-name: opacity-animation;
    animation-fill-mode: both;
}

.button-colored_text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mixer-bg {
    background-image: url("../assets/home/bg-mixer.png");
    background-position: center;
    background-size: cover;
}

@keyframes opacity-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: .8;
    }
}
